# Server Configuration
PORT=3000

# Paystack API Credentials (Replace with your actual keys from Paystack Dashboard)
PAYSTACK_PUBLIC_KEY=pk_live_a0465f4104c57a61aa78866451b64a7bcf39a4bd
PAYSTACK_SECRET_KEY=sk_live_2ede4aeb4ddda91f1a76772f35ccae310f337457